<h1>All your grundges against</h1>
<h2><%= cl_image_tag @guilty.photo.key, crop: :fill, class: "avatar-square" %>
    <%= @guilty.username %>
</h2>
<ul>
  <% @user_grudges.each do |user_grudge| %>
    <li>
      <%= user_grudge.grudge.name %>:
      <%= user_grudge.grudge.points %>
      </li>
  <% end %>
</ul>


<h3><%= @total_offenses %> points</h3>
